<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>STATUS</th>
      <th>CREATED</th>
      <th>EMAIL</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.status %></td>
        <td><%= user.created_at %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Previous Page", users_path(page: @page - 1) %>
  |
  <%= link_to "Next Page", users_path(page: @page + 1) %>

</div>

<%= form_with(url: users_path, method: :get, data: {turbo_frame: "users", turbo_action: "advance"} ) do |form| %>
  <%= form.label :query, "Search active and inactive users" %>
  <%= form.text_field :query %>
  <%= form.submit "Filter" %>
<% end %>
