<p>Hello, <%= @user.first_name %></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>FIRST NAME</th>
      <th>LAST NAME</th>
      <th>STATUS</th>
      <th>CREATED</th>
      <th>EMAIL</th>
    </tr>
   </thead>
   <tbody>
     <tr>
      <td><%= @user.id %></td>
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.status %></td>
      <td><%= @user.created_at %></td>
      <td><%= @user.email %></td>
     </tr>
  </tbody>
</table>